<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student.ssm.mapper.StudentMapper">

	<resultMap type="student.ssm.pojo.Student" id="baseMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<result property="birth" column="birth"/>
		<association property="sclass" javaType="Sclass">
			<id property="id" column="id" javaType="Integer"/>
			<result property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="address" column="address"/>
		</association>
		<collection property="results" ofType="Result" column="studentId">
			<id property="id" column="id" javaType="Integer"/>
			<result property="courseId" column="courseId"/>
			<result property="grade" column="grade"/>
			<result property="time" column="time" javaType="Date"/>
		</collection>
	</resultMap>
	<insert id="create" parameterType="Student">
		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select student_seq.nextval from dual
		</selectKey>
		insert into student (id,name,sex,age,birth)values(#{id},#{name},#{sex},#{age},#{birth})
	</insert>
	<delete id="delete" parameterType="Student">
		delete from student where id=#{id}
	</delete>
	<update id="update" parameterType="Student">
		update student
		<set>
			<if test="name!=null and name!=''">name=#{name},</if>
			<if test="sex!=null and sex!=''">sex=#{sex},</if>
			<if test="age!=null and age>0">age=#{age},</if>
			<if test="birth!=null and birth!=''">birth=#{birth},</if>
		</set>
		where id=#{id}
	</update>
	<select id="retrieveAll" resultType="Student">
		select * from student
	</select>
	<!-- oracle分页 -->
    <select id="pagination" parameterType="Map" resultType="Student">
    	select * from student where
    	<![CDATA[rownum < #{end}]]>
    	minus  
    	select * from student where
    	<![CDATA[rownum < #{start}]]> 
    </select>
    <select id="retrieveSize" resultType="Integer">
    	select count(id) from student
    </select>
	<select id="retrieveById" parameterType="Student">
		select * from student where id=#{id}
	</select>
	<select id="retrieveByManyKey" parameterType="Student">
		select * from student
		<where>
			<if test="name!=null and name!=''">name=#{name}</if>
			<if test="sex!=null and sex!=''">and sex=#{sex}</if>
			<if test="age!=null and age>0">and age=#{age}</if>
			<if test="birth!=null and birth!=''">and birth=#{birth}</if>
		</where>
	</select>
	<select id="retrieveAllGrade" resultMap="baseMap">
		select s.*,r.*
		from student s, result r where s.id=r.studentId
	</select>
</mapper>